.container {
    width: 80%;
    margin: 0 auto;
    background-color: #faeaea;
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid #000000;
}

.title {
    font-size: 3.2rem;
    text-align: center;
}

.wrap {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
}

.name {
    font-size: 2.8rem;
}

.add {
    width: 330px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
}

.image {
    width: 420px;
    height: 300px;
    border: 1px dashed #9a9292;
    border-radius: 10px;
    position: relative;
}

.addimage {
    font-size: 4rem;
    color: #d9d6d6;
    position: absolute;
    top: 10px;
    left: 10px;
    user-select: none;
}
.icon {
    font-size: 8rem;
    color: #000000;
    position: absolute;
    bottom: 6px;
    right: 6px;
}
